In [3]:
import pandas as pd
import numpy as np
import oracledb

In [4]:
oracledb.init_oracle_client(lib_dir=r"D:\\instantclient_23_9")

conn = oracledb.connect(
    user="KMJ",          # 사용자명
    password="DBStudy2025!",      # 비밀번호
    dsn="dbstudy1205_medium" # 접속 정보 (SQL Developer와 동일)
)
cur = conn.cursor()

In [9]:
# 시퀀스의 다음 값 찾기
def return_sequence_value(sequence_name):
	query = f'select {sequence_name}.nextval from dual'
	sequence = pd.read_sql(query, conn)
	return sequence.iat[0, 0]

#### 1. 회원가입

- 이름은 가상회원

In [10]:
signin_query = '''INSERT INTO 회원 VALUES
            (
			회원_seq.nextval,
			'가상회원',
			'010-1111-2222',
			'대한민국 서울',
			'어딘가',
			'welcome',
			2000,
			'email@naver.com',
			'pwd',
			sysdate,
			'F',
			NULL,
			NULL)'''
   
cur.execute(signin_query)
conn.commit()

In [16]:
current_user = pd.read_sql("select * from 회원 where 회원명 = '가상회원'", conn)
user_info = current_user.to_dict('records')[0]
user_info

C:\Users\amysm\AppData\Local\Temp\ipykernel_13508\2463889290.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  current_user = pd.read_sql("select * from 회원 where 회원명 = '가상회원'", conn)

{'회원ID': 99952,
 '회원명': '가상회원',
 '전화번호': '010-1111-2222',
 '주소': '대한민국 서울',
 '상세주소': '어딘가',
 '회원등급': 'welcome',
 '포인트': 2000,
 '이메일': 'email@naver.com',
 '비밀번호': 'pwd',
 '생년월일': Timestamp('2025-12-17 15:13:06'),
 '성별': 'F',
 '탈퇴여부': None,
 '탈퇴날짜': None}

#### 2. 주문하기
- '넘버 시리즈' 상품 중 가장 가격이 싼 상품 3종류를 한 개씩 구매하기

In [ ]:
# 넘버 시리즈 중 가장 가격이 싼 3개
most_cheap_product_id = '''select 상품ID from
	(SELECT 상품ID, 원가 * ((100 - 할인율)/100) as 실제가 
	from 상품
	where 상품분류 = '넘버 시리즈'
	order by 실제가)
	where rownum <= 3
'''

cur.execute(f'''insert into 주문 values 
(주문_seq.nextval, {user_info['회원ID']}, 결제_seq.nextval, '주문완료', 1000, sysdate)''')
conn.commit()

In [ ]:
#### 2.